#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all
debian_cflags:=$(shell dpkg-buildflags --get CFLAGS) -fPIC $(shell dpkg-buildflags --get CPPFLAGS)
debian_ldflags:=$(shell dpkg-buildflags --get LDFLAGS) -fPIC


%:
	dh $@ --without autoreconf

override_dh_auto_configure:
	dh_testdir
	bash ../_configure.sh

.PHONY: config_patch_modules clean_patch_modules
